body {
font-family: serif;
display: flex;
justify-content: center;
padding-top: 40px;
}

.mission-container {
width: 600px;
border: 1px solid #ccc;
padding: 90px;
text-align: center;
max-width: 470px;

}

h1 {
font-size: 30px;
letter-spacing: 4px;
margin-bottom: 20px;

}

h2 {
font-size: 14px;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 0;
margin-bottom: 40px;
color: #4b7db3;
border-bottom: 1px solid rgb(239, 237, 237);

}

p, ol {
text-align: left;
line-height: 1.5;
font-size: 14px;

}
li {
margin-bottom: 20px;
}

ol {
padding-left: 20px;

}

.logo {
margin-top: 30px;
}

.logo img {
width: 100px;
}


